# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

stages:
- stage: Build
  jobs:
  - job: Build
    pool:
      vmImage: 'Windows-2019'

    variables:
      solution: '**/src/*.sln'
      buildPlatform: 'Any CPU'
      buildConfiguration: 'Release'

    steps:
    - task: NuGetToolInstaller@1

    - task: UseDotNet@2
      displayName: 'Use .NET Core sdk 3.0'
      inputs:
        packageType: sdk
        version: 3.0.100

    - task: DotNetCoreCLI@2
      displayName: Publish single-exe x64
      inputs:
        command: 'publish'
        publishWebProjects: false
        projects: 'src\Dapplo.Dopy\Dapplo.Dopy.csproj'
        arguments: '-f netcoreapp3.0 -c Release /p:PublishSingleFile=true /p:RuntimeIdentifier=win-x64'
        zipAfterPublish: false

    - task: CmdLine@2
      displayName: Rename single-exe x64
      inputs:
        script: 'rename $(Build.SourcesDirectory)\src\Dapplo.Dopy\bin\Release\netcoreapp3.0\win-x64\publish\Dapplo.Dopy.exe Dopy-x64.exe'

    - task: DotNetCoreCLI@2
      displayName: Publish single-exe x86
      inputs:
        command: 'publish'
        publishWebProjects: false
        projects: 'src\Dapplo.Dopy\Dapplo.Dopy.csproj'
        arguments: '-f netcoreapp3.0 -c Release /p:PublishSingleFile=true /p:RuntimeIdentifier=win-x86'
        zipAfterPublish: false

    - task: CmdLine@2
      displayName: Rename single-exe x86
      inputs:
        script: 'rename $(Build.SourcesDirectory)\src\Dapplo.Dopy\bin\Release\netcoreapp3.0\win-x86\publish\Dapplo.Dopy.exe Dopy-x86.exe' 

    - task: CopyFiles@2
      displayName: 'Copy Files to: $(Build.ArtifactStagingDirectory)'
      inputs:
        SourceFolder: '$(Build.SourcesDirectory)\src\Dapplo.Dopy\bin\Release\netcoreapp3.0'
        Contents: 'win*\publish\Dopy-*.exe'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'
        flattenFolders: true

    - task: PublishPipelineArtifact@1
      displayName: 'Publish Artifact: drop'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'

- stage: Deploy
  jobs:
  - deployment: Release2GitHub
    pool:
      vmImage: 'Windows-2019'

    environment: 'GitHub Release'
    strategy:
      # default deployment strategy
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@2
            inputs:
              artifact: 'drop'

          # GitHub Release
          # Create, edit, or delete a GitHub release
          - task: GitHubRelease@0
            inputs:
              gitHubConnection: 'github.com_Lakritzator'
              repositoryName: '$(Build.Repository.Name)' 
              action: 'create' # Options: create, edit, delete
              target: '$(Build.SourceVersion)' # Required when action == Create || Action == Edit
              tagSource: 'auto' # Required when action == Create# Options: auto, manual
              #tagPattern: # Optional
              tag: v$(Build.BuildNumber) # Required when action == Edit || Action == Delete || TagSource == Manual
              title: Dopy preview
              #releaseNotesSource: 'file' # Optional. Options: file, input
              #releaseNotesFile: # Optional
              #releaseNotes: # Optional
              assets:  '$(Pipeline.Workspace)/**/Dopy-*.exe' #'$(Build.ArtifactStagingDirectory)/*' # Optional
              #assetUploadMode: 'delete' # Optional. Options: delete, replace
              isDraft: true # Optional
              isPreRelease: true # Optional
              #addChangeLog: true # Optional
              #compareWith: 'lastFullRelease' # Required when addChangeLog == True. Options: lastFullRelease, lastRelease, lastReleaseByTag
              #releaseTag: v$(Build.BuildNumber) # Required when compareWith == LastReleaseByTag