<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapplo.Log" version="1.2.1" targetFramework="net452" />
  <package id="Dapplo.Windows" version="0.5.54" targetFramework="net452" />
  <package id="Dapplo.Windows.Clipboard" version="0.5.54" targetFramework="net452" />
  <package id="Dapplo.Windows.Common" version="0.5.54" targetFramework="net452" />
  <package id="Dapplo.Windows.DesktopWindowsManager" version="0.5.54" targetFramework="net452" />
  <package id="Dapplo.Windows.Gdi32" version="0.5.54" targetFramework="net452" />
  <package id="Dapplo.Windows.Input" version="0.5.54" targetFramework="net452" />
  <package id="Dapplo.Windows.Kernel32" version="0.5.54" targetFramework="net452" />
  <package id="Dapplo.Windows.Messages" version="0.5.54" targetFramework="net452" />
  <package id="Dapplo.Windows.User32" version="0.5.54" targetFramework="net452" />
  <package id="MetadataExtractor" version="2.0.0" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net45" />
  <package id="XmpCore" version="6.1.10" targetFramework="net452" />
</packages>